<connectionStrings> 
    <add name="Staff" connectionString="Data Source={AppDir}\Employee_Accounts\EmployeeAccounts.db;Version=3;" providerName="System.Data.SqlClient" />
    <add name="Patients" connectionString="Data Source={AppDir}\Patient_Records\Patients.db;Version=3;" providerName="System.Data.SqlClient" />
  </connectionStrings>